.toolbar {
  width: auto;
  height: fit-content;
  background-color: #2874f0;
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.55);
}
.logoContainer {
  flex-grow: 2;
  text-align: left;
}
.toolbar .logo {
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: italic;
  font-size: 25px;
}
.searchFullWidth {
  display: flex;
  align-items: center;
}
.searchFullWidth ion-icon {
  color: #2874f0;
  background-color: white;
  height: 30px;
  padding: 5px 12px;
  margin: auto;
  margin-right: 30px;
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: bold;
}
.menuIcon {
  color: white;
  font-size: 25px;
  padding: 5px;
  padding-top: 12px;
  display: none;
}
.searchMobileWidth ion-icon {
  color: #2874f0;
  background-color: white;
  height: 30px;
  padding: 5px 12px;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
}
.searchMobileWidth {
  display: none;
}
.loginBtn {
  margin: auto;
  cursor: pointer;
  background-color: white;
  color: #2874f0;
  outline: none;
  border: transparent;
  height: 35px;
  width: 120px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.cartBtn {
  background-color: transparent;
  color: white;
  outline: none;
  border: transparent;
  cursor: pointer;
  height: 35px;
  width: 120px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.cartBtn ion-icon {
  font-size: 20px;
  margin: auto 5px;
  font-weight: bolder;
}
.toolbarForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.toolbarForm button {
  background: none;
  border: transparent;
  outline: none;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  cursor: pointer;
}
.mobileBarForm {
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.cartLength {
  font-size: 10px;
  margin: 3px;
  position: relative;
  top: -10px;
  background-color: orangered;
  padding: 3px;
  border-radius: 100px;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobileBar {
  width: auto;
  display: none;
}
.mobileBarForm {
  width: 100%;
}
.mobileBarForm input {
  width: 100%;
}
@media (max-width: 1080px) {
  .searchMobileWidth {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .searchFullWidth {
    display: none;
  }
  .logo {
    margin: 0px;
  }
  .mobileBar {
    display: flex;
  }
  .toolbar:first-child {
    padding-top: 20px;
  }
}
@media (max-width: 650px) {
  .cartBtn {
    display: none;
  }
  .menuIcon {
    display: block;
  }
}
