.login {
  display: flex;
}
.rightSide {
  width: 60%;
  margin-top: 30px;
}
.leftSide {
  width: 40%;
  min-width: 300px;
  background-color: #2874f0;
  text-align: left;
  color: white;
  line-height: 25px;
  overflow: hidden;
  position: relative;
  padding-top: 30px;
}
.message {
  margin: auto;
  font-size: 15px;
}
.leftSide h2,
.leftSide p {
  padding: 0px 40px;
}
.leftSide p {
  font-weight: 300;
}
.rightSide .grayPara {
  color: gray;
  width: 80%;
  text-align: left;
  font-size: 12px;
  margin: 15px auto;
}
.img {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.loginButton {
  width: 80%;
  height: 40px;
  color: white;
  background-color: orangered;
  outline: none;
  border: none;
  cursor: pointer;
}
.loginForm input {
  width: 70%;
  margin: 15px;
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid #2874f0;
}
.bottomText {
  position: relative;
  width: 100%;
  bottom: -80px;
  text-align: center;
  font-weight: 500;
  color: #1b60ce;
}
.createAccount {
  margin: 0px;
  display: inline-block;
  padding: 0px;
  cursor: pointer;
}
.createAccount:hover {
  color: #00307e;
}
